body {

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.cell {
    background-color: #c0c0c0;
    width: 21px;
    height: 21px;
}

.cell > span.mine {
    display: inline-block;
    text-align: center;
    font-size: 21px;
    line-height: 21pt;
    font-weight: 900;
    color: brown;
}

td {
    padding: 0;
    border: solid 1px #aaa;

}

.btn {
    background-color: black;
    color: white;
    height: 3ex;
    text-align: center;
    margin: 0 20px;
    width: 5em;
    user-select: none;
}

.menu {
    display: flex;
    justify-content: center;
    height: 3ex;
}



#mine-field {
    margin: 10px auto;
   
    text-align: center;
    padding: 0;
    border: solid 1px #aaa;
}

.cell > span.mine-count {
    display: inline-block;
    text-align: center;
    font-size: 15px;

    font-weight: 900;
    color: #818181;
}

span.mine-count.n1 {
    color: #0003f8;
}

span.mine-count.n2 {
    color: #028303;
}

span.mine-count.n3 {
    color: #fc0101;
}

span.mine-count.n4 {
    color: #000177;
}

span.mine-count.n5 {
    color: #800001;
}

span.mine-count.n6 {
    color: #007f7f;
}

span.mine-count.n7 {
    color: #000000;
}

.spreaded {
    background-color: azure;
}