body {
    margin: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.game-info {
    display: flex;
    background-color: #2C3E4F;
    width: 336px;
    background: linear-gradient(45deg, #148d82, #d3d39369);
}


.game-info > .remaining, .timer {
    width: 5em;
    height: 3ex;
    background-color: #3a88b661;
    text-align: center;
    line-height: 20pt;
    color: #ffffff;
}

.game-info > .padding {
    flex-grow: 1;
}

.game-info > .message {
    width: 10em;
    font-size: 15px;
    text-align: center;
    line-height: 20pt;
    color: #ffffff;
}

.cell {
    background-color: #bfbfbf;
    width: 21px;
    height: 21px;

    border-width: 1.5px;
    border-style: outset;
    box-sizing: border-box;
    border-color: #e8e8e8;
}

.cell.unclear > span.mine-count,
.cell.unclear > span.mine {
    display: none;
}

.cell > span.mine {
    display: inline-block;
    text-align: center;
    font-size: 21px;
    line-height: 21pt;
    font-weight: 900;
    color: brown;
}

td {
    padding: 0;
    border: solid 1px #aaa;

}

.btn {
    background-color: #ffd08d;
    color: white;
    height: 3ex;
    text-align: center;
    margin: 0;
    border: solid 2px #ffeeb7;
    width: 5em;
    user-select: none;
    color: #b24f4f;
}

.menu {
    display: flex;
    justify-content: center;
    height: 3ex;
}



#mine-field {
    background-color: #F2F2F2;
    margin: 10px auto;
   
    text-align: center;
    padding: 0;
    border: solid 1px #aaa;
}

.cell > span.mine-count {
    display: inline-block;
    text-align: center;
    font-size: 15px;

    font-weight: 900;
    color: #818181;
}

span.mine-count.n1 {
    color: #0003f8;
}

span.mine-count.n2 {
    color: #028303;
}

span.mine-count.n3 {
    color: #fc0101;
}

span.mine-count.n4 {
    color: #000177;
}

span.mine-count.n5 {
    color: #800001;
}

span.mine-count.n6 {
    color: #007f7f;
}

span.mine-count.n7 {
    color: #000000;
}

.cell.spreaded {
    background-color: #e8e8e8;
    border-style: none;
}

.cell.exploded {
    background-color: #dea6a4;
    border-style: none;
}

.cell.exploded.spreaded {
    background-color: #efd1d180;
}

.cell.success {
    background-color: #7ab0f0;
    border-color: #e8e8e8;
}


.cell.success.spreaded {
    background-color: #b4c7dd;
}
